<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Shows list of sport players">
    <meta name="author" content="rayedchan">
    <title>Sport Players</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link href="static/css/mycss.css" rel="stylesheet">
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <script>
         angular.module('myApp', []).controller('HomeCtrl', function($scope, $http){

            $scope.input = {}; // for add and update
            $scope.showAdd = true;

            // Make REST call to fetch all the different types of sports
            $scope.showSportList = function() {
                $http({
                    method: 'GET',
                    url: '/sports'
                }).then(function(response) {
                    // Set scope sports field to JSON data returned from rest endpoint
                    $scope.sports = response.data;
                    console.log('sports', $scope.sports);

                    // Default option on initial load
                    $scope.sport_type = $scope.selected

                }, function(error) {
                    console.log(error);
                });
            }


            // Makes REST call to fetch all the players for a specific sport
            $scope.showPlayerList = function() {
                $http({
                    method: 'GET',
                    url: '/sports/'+ $scope.sport_type +'/players'
                }).then(function(response) {
                    $scope.players = response.data;
                    console.log('players', $scope.players);
                }, function(error) {
                    console.log(error);
                });
            }

            // Form popup for add
            $scope.showAddPopUp = function(){
                $scope.showAdd = true; // show add player button
                $scope.input = {}; // empty player object
                $('#addPopUp').modal('show') // show popup form
			}

		    // Make REST call to add sport player
			$scope.addPlayer = function() {
                $http({
                    method: 'POST',
                    url: '/' + $scope.sport_type + '/player/' + $scope.input.id,
                    data: $scope.input
                }).then(function(response) {
                    console.log('add player sport type', $scope.sport_type);
                    $scope.showPlayerList(); // refresh player list
                    $('#addPopUp').modal('hide'); // hide pop up form
                    $scope.player = {}; // empty player object
                }, function(error) {
                    console.log(error);
                });
			}

			// Delete form popup
            $scope.confirmDelete = function(id){
                $scope.delPlayerId = id; // set id to be deleted
                $('#deleteConfirm').modal('show'); // show delete confirmation popup
            }

            // Make REST API call to remove player
            $scope.deletePlayer = function(){
                $http({
                    method: 'DELETE',
                    url: '/' + $scope.sport_type + '/player/' + $scope.delPlayerId
                }).then(function(response) {
                    console.log(response.data);
                    $scope.delPlayerId = ''; // unset delete id
                    $scope.showPlayerList(); // refresh player list
                    $('#deleteConfirm').modal('hide'); // hide delete popup
                }, function(error) {
                    console.log(error);
                });
            }

			// Populate the edit form popup
			$scope.editPlayer = function(player){
                // Flag for update form
                $scope.showAdd = false;

                // Populate input fields with values from player object
                $scope.input = {};
                $scope.input.id = player.id;
                $scope.input.first_name = player.first_name;
                $scope.input.last_name = player.last_name;
                $scope.input.age = player.age;
                $scope.input.position = player.position;

                // Show popup form for update
                $('#addPopUp').modal('show');
            }

			// Make REST API call to update player
            $scope.updatePlayer = function(){
                $http({
                    method: 'PUT',
                    url: '/' + $scope.sport_type + '/player/' + $scope.input.id ,
                    data: $scope.input
                }).then(function(response) {
                    console.log(response.data);
                    $scope.showPlayerList(); // refresh player list
                    $('#addPopUp').modal('hide'); // hide popup
                }, function(error) {
                    console.log(error);
                });
            }

            // Populate drop down with all the type of sports
            $scope.showSportList();

            //console.log('sport type', $scope.sport_type);
            //$scope.showPlayerList();

         })
    </script>

</head>
<body ng-controller="HomeCtrl">
    <div class="container">
        <h3 class="text-muted">Sport Players</h3>

        <!-- Operation Menu -->
        <div>
            <ul class="navbar">
                <li>
                    <!-- ng-model has current value of selected option, ng-options generate all option, ng-change when selected option is changed call function  -->
                    <select ng-model="sport_type" ng-options="sport as sport for sport in sports" ng-change="showPlayerList()">
                        <!--<option ng-repeat="sport in sports" value="{{ '{{sport}}' }}">{{ '{{sport}}' }}</option>>-->
                        <option value="" ng-selected="selected" selected disabled>Please select one</option>
                    </select>
                </li>
                 <li>
                     <!-- Add button will be active when a sport type is selected from select options-->
                    <button type="button" class="btn btn-success" data-toggle="modal" ng-click="showAddPopUp()" ng-disabled="!sport_type || sport_type.length == 0">Add</button>
                </li>
            </ul>
        </div>

        <br />

        <!-- Display Sport Player Table -->
        <div class="panel-heading"></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Position</th>
                        <th>Brief Name</th>
                        <th>Average Age Difference</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="player in players track by $index">
                        <th scope="row">{{'{{$index+1}}'}}</th>
                        <td>{{ '{{player.id}}' }}</td>
                        <td>{{ '{{player.first_name}}' }}</td>
                        <td>{{ '{{player.last_name}}' }}</td>
                        <td>{{ '{{player.age}}' }}</td>
                        <td>{{ '{{player.position}}' }}</td>
                        <td>{{ '{{player.name_brief}}' }}</td>
                        <td>{{ '{{player.average_position_age_diff}}' }}</td>
                        <td><button type="button" ng-click="editPlayer(player)"><img src="/static/octicons/svg/pencil.svg" /></button></td>
                        <td><button type="button" class="close" ng-click="confirmDelete(player.id)" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Add/Update Player Popup-->
         <div class="modal fade" id="addPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <!-- Header -->
                    <div class="modal-header">
                        <h4 ng-show="showAdd" class="modal-title" id="exampleModalLabel">Add Sport Player</h4>
                        <h4 ng-show="!showAdd" class="modal-title" id="exampleModalLabel">Update Sport Player</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>

                    <!-- Input Form -->
                    <div class="modal-body">
                        <form>
                            <!-- Show ID field on when adding new player -->
                            <div class="form-group">
                                <label ng-show="showAdd" for="txtID" class="control-label">ID:</label>
                                <input ng-show="showAdd" type="text" class="form-control" ng-model="input.id" id="txtID">
                            </div>
                            <div class="form-group">
                                <label for="txtFirstName" class="control-label">First Name:</label>
                                <input type="text" class="form-control" ng-model="input.first_name" id="txtFirstName">
                            </div>
                            <div class="form-group">
                                <label for="txtLastName" class="control-label">Last Name:</label>
                                <input type="text" class="form-control" ng-model="input.last_name" id="txtLastName">
                            </div>
                            <div class="form-group">
                                <label for="txtAge" class="control-label">Age:</label>
                                <input type="number" class="form-control" ng-model="input.age" id="txtAge">
                            </div>
                            <div class="form-group">
                                <label for="txtPosition" class="control-label">Position:</label>
                                <input type="text" class="form-control" ng-model="input.position" id="txtPosition">
                            </div>
                        </form>
                    </div>

                    <!--Submit button -->
                    <div class="modal-footer">
                        <!-- Add Button -->
                        <button ng-show="showAdd" ng-click="addPlayer()" type="button" class="btn btn-primary">Add Player</button>
                        <!-- Update Button -->
                        <button ng-show="!showAdd" ng-click="updatePlayer()" type="button" class="btn btn-primary">Update Player</button>
                    </div>

                </div>
            </div>
        </div>

        <!-- Delete Player popup -->
        <div id="deleteConfirm" class="modal fade bs-example-modal-md in" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Player</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this player?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-click="deletePlayer()" class="btn btn-primary">Delete</button>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>